/ProyectoGrupo7/build/

nbproject/private/

ProyectoGrupo7/nbproject/private/

/PracticaEstudio de Caso 2/nbproject/private/
/PracticaEstudio de Caso 2/build/
/Caso_Estudio_2_Jafeth_Funes_Quesada/nbproject/private/
/Caso_Estudio_2_Jafeth_Funes_Quesada/build/
/ProyectoGrupo7/dist/
